label {
    font-weight: bold;
    margin: 0 0 5px 0 !important;
}
[id^='account-form'] {
    margin: 0 auto;
    max-width: 400px;
}
[id^='account-form'] .k-textbox,
#popup .k-textbox {
    width: 100%;
}
#popup textarea {
    padding: 8px;
    height: 200px;
}
#show-passwords {
    top: 0;
    right: 0;
    border: none;
    background-color: #c6d0dc3b;
    height: 100%;
}