* {
    outline: none;
    padding: 0;
    margin: 0;
}
header {
    background-color: #647aff;
}
label {
    font-weight: bold;
    margin: 0 0 5px 0 !important;
}
[id^='account-form'] {
    margin: 0 auto;
    max-width: 400px;
}
[id^='account-form'] .k-textbox,
#popup .k-textbox {
    width: 100%;
}
#popup textarea {
    padding: 8px;
    height: 200px;
}
#show-passwords {
    top: 0;
    right: 0;
    border: none;
    background-color: #c6d0dc3b;
    height: 100%;
}
.validation-summary-valid ul {
    margin: 0;
}
.validation-summary-errors {
    color: firebrick;
    font-size: 10pt;
    line-height: 1.3em;
}
.validation-summary-errors ul{
    margin-right: 15px;
    padding-left: 30px;
}
#culture-menu {
    font-size: 11pt;
}
#culture-menu select {
    background-color: #4e61d5;
    color: #d7e9ef;
}
.nav-link {
    line-height: 4;
}
.navbar .nav-link:hover {
    box-shadow: 0px 2px 0px white inset;
    color: white !important;
    -webkit-transition: box-shadow 1s;
    transition: box-shadow 1s;
}