<header>
    <nav class="navbar
         position-relative
         navbar-expand-sm
         navbar-dark
         navbar-toggleable-sm">
        @await Html.PartialAsync("SetCulture")
    </nav>
</header>
